

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: url(../img/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.container {
    max-width: 1027px;
    width: 100%;
    margin: 0 auto;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo_link {
    display: block;
    text-decoration: none;
}

.header_logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 51px;
    color: #FFFFFF;
}

.header_logo:hover {
    color: #F26522;
}

.header_logo_img {
    width: 53px;
    height: 47px;
    padding-bottom: 26px;
}

.header_logo_img :nth-child(2) {
    display: none;
}

.header_logo:hover .header_logo_img :nth-of-type(1) {
    display: none;
}

.header_logo:hover .header_logo_img :nth-of-type(2) {
    display: block;
}

.header_logo_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
}

.logo_text_milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    width: 140px;
    height: 30px;
}

.logo_text_holidays {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    width: 135px;
    height: 21px;
    padding-bottom: 22px;
}

.contacts_link {
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 19px;
}

.contact_type {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s;
}

.contact_type:hover {
    color: #F26522;
}

.contact_type_mail {
    width: 219px;
    height: 21px;
    padding-top: 46px;
}

.contact_type_tel {
    width: 146px;
    height: 21px;
    padding-bottom: 17px;
}

.grid_container_tours {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 62px;
    justify-content: center;
    align-content: center;
}

.grid_item_shopping {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.grid_shopping_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_shopping_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_shopping_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 140px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 37px;
    transition: color 2s;
}

.grid_shopping_link:hover .grid_shopping_text {
    color: #F26522;
}

.popup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    top: 165px;
    opacity: 0;
    transition: 2s;
}

.grid_shopping_link:hover .popup {
    opacity: 1;
}

.popup_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.text_from {
    display: flex;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    width: 22px;
    height: 14px;
    color: #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
}

.text_euro {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 36px;
    height: 14px;
    color: #FFFFFF;
    padding-bottom: 12px;
    padding-left: 16px;
}

.popup_right {
    display: flex;
    flex-direction: row;
}

.text_view {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 29px 0 12px 0;
}

.text_view::after {
    content:url(../img/Vector_1.svg);
    width: 5px;
    height: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.grid_item_sightseeing {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
}

.grid_sightseeing_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_sightseeing_link:hover .popup {
    opacity: 1;
}

.grid_sightseeing_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_sightseeing_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 163px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 37px;
    transition: color 1s;
}

.grid_sightseeing_link:hover .grid_sightseeing_text {
    color: #F26522;
}

.grid_item_food {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}

.grid_food_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_food_link:hover .popup {
    opacity: 1;
}

.grid_food_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_food_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 163px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 37px;
    transition: color 1s;
}

.grid_food_link:hover .grid_food_text {
    color: #F26522;
}

.grid_item_bars {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
}

.grid_bars_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_bars_link:hover .popup {
    opacity: 1;
}

.grid_bars_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_bars_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 163px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 49px;
    transition: color 1s;
}

.grid_bars_link:hover .grid_bars_text {
    color: #F26522;
}

.grid_item_art {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
}

.grid_art_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_art_link:hover .popup {
    opacity: 1;
}

.grid_art_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_art_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 163px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 49px;
    transition: color 1s;
}

.grid_art_link:hover .grid_art_text {
    color: #F26522;
}

.grid_item_walking {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
}

.grid_walking_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.grid_walking_link:hover .popup {
    opacity: 1;
}

.grid_walking_img {
    width: 300px;
    height: 220px;
    border: 3px solid #FFFFFF;
    border-image-source: linear-gradient(-45deg, white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

.grid_walking_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 163px;
    height: 21px;
    color: #FFFFFF;
    padding-bottom: 49px;
    transition: color 1s;
} 

.grid_walking_link:hover .grid_walking_text {
    color: #F26522;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    width: 306px;
    height: 21px;
    color: #FFFFFF;
    margin: auto;
    padding-bottom: 15px;
}
    








